.l-page {
  background: #FFFFFF;
  margin: 0 auto;
  margin-top: -1em;

  @include breakpoint($tablet) {
    width: $tablet;
  }
  @include breakpoint($desktop) {
    width: $desktop;
  }
}

.l-main {
  @include clearfix;
  margin-top: 60px;
}

@include breakpoint($tablet) {
  .l-content {
    @include grid-span(8, 1);
  }

  .l-region--sidebar-second {
    @include grid-span(4, 9);
  }
}

.l-inner-header {
  margin: 0 auto;
  @include breakpoint($tablet) {
    width: $tablet;
  }
  @include breakpoint($desktop) {
    width: $desktop;
  }
}

.l-region--sidebar-second {
  padding: 1em;
}

.page-node {
  h1 {
    padding-left: 0.5em;
  }
}
