body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.65em;
}

.main-container {
  background-color: #FFFFFF;
}

.content {
  .field--name-field-paragraph {
    text-align: justify;
  }

  .field--name-field-image {
    float: none;
    text-align: center;

    img {
      width: 100%;
    }
  }
}